body{
  background-color: gray;
}
.clear{
  clear: both;
}
*{
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.site{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Tahoma";
}
.header{
  margin-top: 30px;
}
.header .menu{
  margin-top: 30px;
}
.header .menu li{
  float: left;
  margin-left: 10px;
}
.header .menu li:first-child{
  margin-left: 0;
}
.header .menu li a{
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px;
}
.header .menu li.active,
.header .menu li a:hover
{
  color: black!important;
  background-color: lightblue;
}
.content{
  margin-top: 30px;
}
.sidebar{
  float: left;
  padding: 40px 20px 210px 30px;
  width: 280px;
  background-color: #efefef;
  margin-top: 30px;
  border-radius: 10px 0 0 10px;
background-image: url("images/sidebar.png");
background-repeat: no-repeat;
background-position: bottom center;
}
.sidebar form{
  position: relative;
}
.sidebar form input{
  width: 100%;
  height: 40px;
  padding-right: 35px;
  padding-left: 10px;
  border: 0;
  border-top: 1px solid gray;
  border-radius: 3px;
}
.sidebar form button{
  width: 20px;
  height: 20px;
  background: url("images/search.png");
  background-repeat: no-repeat;
  position: absolute;
  border: 0;
  top: 12px;
  right: 10px;
}
.sidebar .list{
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  margin-top: 20px;
}
.sidebar .list p.list-title{
  font-size: 20px;
}
.sidebar .list ul li{
  background-image: url("images/menu.png");
  background-repeat: no-repeat;
  margin-top: 5px;
}
.sidebar .list ul li a{
  padding-left: 15px;
  color: purple;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700px;
}
.text{
  border-radius: 0 10px 10px 0;
  padding: 40px 20px 20px 30px;
  float: left;
  width: 660px;
  margin-top: 30px;
  background-color: white;
}
.text p.text-title{
  font-weight: 700;
  font-size: 20px;
}
.text p.description{
  font-size: 12px;
  line-height: 20px;
  margin-top: 15px;

}
